@charset "utf-8";
*{
	margin: 0 auto; padding:0 auto; list-style-type: none;
	box-sizing: border-box;
}
#bodymodo { border: solid 1px red;
	width: 1000px; height: 1000px;
	
}

#idfinde{border: solid 1px blue;

}

#backbtn{
	
}

input{
	border:none;
	border:0px;
}