@charset "utf-8";

* {
	margin: 0px auto;
	padding: 0px auto;
	font-size: 20px;
	text-decoration: none;
}

html, body {
	height: auto;
}

#container {
	text-align: center;
	height: 100%;
	background-image: url("../../img/500509906_banner.jpg");
	background-size: cover;
	background-position: center -160px;
	background-repeat: no-repeat;
	padding-top: 10%;
}

h1 {
	font-size: 250%;
}

#back {
	background-color: rgba(255, 255, 255, 0.7);
	width: 80%;
	height: auto;
	padding: 50px;
}

#loginbtn {
	color: white;
	background-color: lightslategray;
	border-radius: 7px;
	width: 20%;
	height: 8%;
	margin: 10px 20px 5px 20px;
	border: 0px;
	font-size: 140%;
}

#forgot, #forgot a {
	color: navy;
	font-size: 90%;
}

#forgot a {
	font-size: 100%;
}

#joinhidden {
	display: none;
	width: 100%;
}

input {
	border: 0px;
	border-bottom: solid 1px darkblue;
	background-color: rgba(255, 255, 255, 0.2);
	width: 40%;
	margin: 10px;
	padding: 10px;
	color: navy;
	margin-top: 20px;
	margin-left: -10px;
	margin-right: -10px;
}

#foo {
	font-size: 60%;
	color: white;
	margin-top: 2%;
}

#signup {
	background-color: transparent;
	border: 0px;
	color: navy;
	font-size: 80%;
	cursor: pointer;
}

#zz {
	color: navy;
	font-size: 90%;
}

#userPwdchk {
	border-top: dotted 2px white;
}

#log {
	font-family: serif;
	color: navy;
	text-shadow: gray 3px 3px 3px;
	font-weight: bold;
}

#lodiv {
	width: 500px;
}

#logo, #hyang {
	text-shadow: 3px 3px 3px gray;
	font-family: 'cursive';
	color: white;
	padding-bottom: 40px;
	margin-top: -60px;
}

#hyang {
	color: lightpink;
	font-size: 118%;
}

.input1, .select2, .at , .var{
	display: inline-block;
}

.input1 {
	padding-top: 1px;
	width: 13%;
}

.input1 input{
	width: 100%;
}

.select2 select{
	padding:20px;
	margin-left:10px;
	font-size: 20px;
}

div.at {
	padding: 0 5px 0 4px;
	margin-top: 5px; 
}


#ddlEmailDomain, #ddlMobileTel{
	height: 32px;
	background-color: transparent;
	border: 0px;
	font-size: 22px;
}


