@charset "utf-8";

* {
	margin: 0px auto;
	padding: 0px auto;
	font-size: 20px;
	text-decoration: none;
}

html, body {
	height: auto;
	background-image: url("../../img/500509906_banner.jpg");
	background-size: cover;
}
 
#container {
	text-align: center;
	height: 100%;
	background-repeat: no-repeat;
	padding: 8%;
}

h1 {
	font-size: 250%;
}

#back {
	background-color: rgba(255, 255, 255, 0.7);
	width: 80%;
	height: auto;
	padding: 50px;
}

#loginbtn {
	color: white;
	background-color: lightslategray;
	border-radius: 7px;
	width: 20%;
	height: 8%;
	margin: 10px 20px 5px 20px;
	border: 0px;
	font-size: 140%;
}

/* 비밀번호 아이디 찾기 부분 */
#forgot, #forgot a {
	color: navy;
	font-size: 90%;
}

#forgot a {
	font-size: 100%;
}


/* 회원가입 부분 */
#joinhidden {
	display: none;
	width: 100%;
}

/* input box설정 */
input {
	border: 0px;
	border-bottom: solid 1px darkblue;
	background-color: rgba(255, 255, 255, 0.2);
	width: 571px;	
	padding: 10px;
	color: navy;
	margin-top: 20px;
}

/* footer에 있는 글씨 */
#foo {
	font-size: 60%;
	color: white;
	margin-top: 4%;
}

/* signup join바뀌는 부분 */
#signup {
	background-color: transparent;
	border: 0px;
	color: navy;
	font-size: 80%;
	cursor: pointer;
}

/* 로그인 버튼 밑에 /슬러시 부분 */
#zz {
	color: navy;
	font-size: 100%;
}

/* 중간에 흰 줄 있는거 */
hr{
	border-top: dotted 2px white;
	margin-top: 20px;
}

/* 위에 로고 밑에 있는 LOGIN, JOIN인지 알려주는 부분 */
#log {
	font-family: serif;
	color: navy;
	text-shadow: gray 3px 3px 3px;
	font-weight: bold;
}

#lodiv {
	width: 500px;
	margin-top:-120px; 
}

/* 로고 부분 (글씨) */
#logo, #hyang {
	text-shadow: 3px 3px 3px gray;
	font-family: 'cursive';
	color: white;
	padding-bottom: 40px;/* 
	margin-top: -30px; */
}

#hyang {
	color: lightpink;
	font-size: 118%;
}

/* 이메일이랑 전화번호 inline바꾸는거  */
.input1, .select2, .at , .var, .input2{
	display: inline-block;
}

/* 이메일 input박스*/
.input1 , .input2{
	padding-top: 1px;
	width: 25%;
}

/* 전화번호 input박스 */
.input2 {
	padding-top: 1px;
}

.var{
	font-size: 40px;
	font-weight: bold;
}

.input1 input{
	width: 100%;
}

.input2{
	width: 100px;
}

.input2 input{
	width: 100%;
}

.select2 select{
	padding:20px;
	margin-left:10px;
	font-size: 20px;
}

div.at {
	padding: 0 5px 0 4px;
	margin-top: 5px; 
}

#ddlEmailDomain{
	
}

#ddlEmailDomain, #ddlMobileTel{
	height: 32px;
	background-color: transparent;
	border: 0px;
	font-size: 22px;
}

#sum{
	width: 55%;
}

.terms{
}

.termsCkbox{
	width: 20px;
	height: 20px;
	background-color: rgba(255,255,255,0.5);
}

.clear{
	clear: both;	
}

#pwcheck{
	margin-left: -18px;
}
