@charset "UTF-8";
*{margin:0 auto;}
body{
	height: auto;
	background-image: url("../../img/loginimg/privercyback.jpg");
	background-size: cover;
	position: center center;
} 
#privacyBox{
	width:80%;
	height:750px;
	/* background: white; */
	margin-top:5%;
	text-align: center;
	list-style-type: none;
	background-color: #e9e9e9;
	border-radius: 20px;
} 
#goBack{
	border-radius: 40px;
}
.text{
	font-size:28px;
	font-weight:bold;
}
textarea{
	width:88%;
	height:70%; 
	border:4px solid #444;
	display: block;
	margin:2% 5%;
	padding:2% 5%;
	background-color: #FFF;
	font-size: 120%;
	border-radius: 20px;
}
.termBoxs button{
	font-size: 20px;
	background-color: transparent;
	padding: 10px;
}