@charset "UTF-8";
*{margin:0 auto;}
body{
	height: auto;
	background-image: url("../../img/500509906_banner.jpg");
	background-size: cover;
	position: center center;
} 
#privacyBox{
	width:80%;
	height:800px;
	background: white;
	margin-top:5%;
	text-align: center;
	list-style-type: none;
} 

.text{
	font-size:22px;
	font-weight:bold;
}
textarea{
	width:90%;
	height:650px; 
	border:4px solid #444;
	display: block;
	margin:2% 5%;
	padding:2% 5%;
}
.termBoxs button{
	font-size: 20px;
}