@charset "UTF-8";
/* footer */
footer{
	/* background: #fbfbff; */
	background-color:#F5F5F5;
	width:1500px;
	height:200px;
}

.bookbtn{
	background-color: transparent !important;
	border: 0;
	width: 200px;
}

#newBook{
	display: none;
}


#foologoBox{
	margin:50px 100px;
}

/* footer부분 */