*{
	margin:0px auto; padding:0px; list-style-type: none;
}

#menuBox>.mainMenu{
	float:left; 
	text-align:center;
	margin:0px;
}

#menuBox{
	border:solid 1px red;
}

#login button{
	background-color:white;
	border:0px;
}

#menuBox{	
	text-align:center;
	width:80%; 
	height:100px; 
	background-color: #663344;
}

.mainMenu{
	font-size: 22px;
	margin:0 3%;
	bakground-color:#663344; 
}
.subMenu{
	margin-left:-40px;  
	font-size: 18px;
	display: none;
	bakground-color:#884264; 
}

#headBody{
	border:solid 1px lime;
	width:80%;
	text-align:center;
}