@charset "utf-8";

body {
	margin:0 auto;
} 

.clear {
	clear: both; 
}

/* homePage.jsp */
#mainslide{
	position: relative;	
	margin: 0; 
}
#slideimge{
	height:446px;
	width:1500px;
	position:absolute;
	z-index: 1;
}
#btn{
	width:1500px; height:446px;
	position:absolute;
	z-index: 2;
	top:50%;
}

#leftbtn, #rightbtn {
	background-color: rgba(0, 0, 0, 0.4);
	text-align: center;
	height: 100%;
	width: 10%;
} 

#leftbtn {
	float:left;
}

#rightbtn {
	float:right;
}

#MoveLeftBtn, #MoverightBtn {
	font-size: 50px;
	border:0;
	background-color: rgba(200,200,200,0.6);
	border-radius:100%;
	color:white;
	width:80px;
	height:80px;
	margin-top:160px; 
	cursor: pointer;
}
#slideimge .imgeul{
	width: 100%; height: 100%;
	overflow:hidden;
}

.imgeli img{
	width: 100%; height: 100%;
}


/* 슬라이드 밑에 부분 */
/* 추천도서 */
#content{
	width:1500px; 
	height:1000px;
	margin:446px 0 0 0;
	background:white;
	position:relative;
}
#contentA{
	width:900px;
	height:350px;
	padding-top:20px;
	border:solid 1px red;
	margin:0 auto;
	float:left;
	padding-left:20px;
	position:absolute;
}
#cus button,#cus{
	margin:4px 0;
	font-size:18px;
}

#contentA li{
	display: inline-block;
}
#fooleftbtn, #foorightbtn{
	width:30px;
	height:60px;
	border:none;
	border-radius:10%;
	background:#666;
	color:white;
	
}
#fooleftbtn{
	position:absolute;
	margin-top:100px;
	margin-left:100px;
}
#foorightbtn{
	position:absolute;
	margin-top:-160px;
	margin-left:750px;
}
#contentA ul{
	width:600px;
	height:256px;
	border:1px solid blue;
	text-align:center;
	overflow: hidden;
}
#contentA h2{
	margin-top:10px;
}
#contentA img{
	width:160px;
	height:216px;
	margin:0 10px;
}
#contentB{  
	width:478px;
	height:350px;
	border:solid 1px blue;
	position:absolute; 
	margin-left:1022;
}

footer{
	margin-top:350px;
	border:1px solid red;
}
.contentAtbl{
	border: 1px solid lime;	
}

.bookbtn{
	background-color: transparent !important;
	border: 0;
	width: 200px;
}

/* footer부분 */
/* 하단 logo부분 */
