@charset "utf-8";
* {	/* 기본값 */
	margin: 0 auto;
	padding: 0px;
	list-style-type: none;
	text-decoration: none;
	color: #000;
	box-sizing: border-box;
}

pre{
	display: inline;
}

body {
	background-image: url("../img/homeimg/back1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center -500px;
	width: 1500px;  
	border: 1px solid lime;
}

.clear {
	clear: both;
}
/* 상단 logo부분 */
#logoBox {
	width: 280px;
	height: auto;
	display: inline-block;
	float: left;
	font-family: Jeju Gothic,fantasy,Hanna,Jeju Hallasan;
	font-size: 50px;
	margin: 50px 0 30px 0;
	line-height:80%;
}

#logof{
	color:black;
	cursor: pointer;
}	

#logof1 {
	color: brown;
}

#logof2 {
	color: green;
	font-size: 130%;
}

#logof3 {
	color: orange;
}

#logof4 {
	color: brown;
	font-size: 130%;
}

/* 검색창 */
#search-box{
	margin:80px 0 0 375px; 
	position: absolute;
	background: #2f3640;
	height:70px; 
	border-radius: 40px;
	padding:10px;  
	width: 900px;
}

 #search-box #selection {
	margin-right:30px;
	font-size: 20px;
	border-radius:40px;
	background-color: white;
	height: 50px;
	padding: auto 10px;
	float:left;
	border: 0;
	line-height:20px;
}

#search-box input {
	border : none;
	background : white;
	outline: none;
	padding-left: 25px;
	margin-left:5px;
	color: #333;
	float:left;
	border-radius:30px;
	width:670px;
	font-size: 20px;
	transition: 0.4s;
	line-height: 50px;
}

#search-box button {
	font-size: 20px;
	background-color: rgba(255,255,255,0.5);
	border-radius:100%;
	border: 0;
	font-weight: bold;
	width:50px; 
	height:50px;
 	cursor: pointer;
 	float:right;
}

#search-box button:hover {
	background: white;
	color: #1e1e1e;
}

/* 로그인/회원가입 */
#login {
	float: right;
	font-size: 115%;
	font-weight: bold;
	font-family: fantasy;
	color:#888; 
}

#login a button {
	font-size: 90%;
	font-weight: bold;
}

.loge {
	border: 0px;
	outline: 0px;
	cursor: pointer;
	background-color: transparent !important;
}

.loge:hover{
	color: #a92940;
}

/* menu부분 */
#bodyHead {	
	height:	auto;
	width: 1500px;
	position:relative;
	z-index:5;
	background-color: #442200;
} 

#menuBox {
	color: white;
	text-align: center;
	height: 51px; 
	z-index: 10;
	width: 100%;
	margin-left: -1px;
	padding-right:-2px;
}

#menuBox .mainMenu {
	float: left;
	background-color: #442200;
	display: inline-block;
	height: 51px;
	width: 300px;
	padding-top: 12px;
}

#menuBox .mainMenu:last-child {
	padding-right: 30px;
}

#menuBox .mainMenu a {
	color: white;
	font-size: 18px;
	margin: 5px 20px;
}

#menuBox .mainMenu:hover {
	background-color: #482609;
}

#menuBox .subMenuBox {
	display: none;
}
#menuBox .subMenu{
	background-color: #795022;
	padding: 15px 0px;
	width: 300px;
}

#menuBox .subMenu a {
	color: white;
}

.subMenu:first-child {
	margin-top: 15px;
}

/*  #menuBox .mainMenu:hover .subMenuBox { 
	display: block;
	transition:all 0.3s;
	}
*/
#menuBox .subMenu:hover {
	background-color: #866529;
}

#allmenubtn{
	width: 20px;
	height: 20px;
	border: 1px solid white;
	background-color: rgba(0,0,0,0.4);
	position: relative;
	left: 580px;
	top: -35px;
	border-radius: 30%;
	font-size: 15px;
	color: white;
	z-index: 11;
}

#mainmenu{
	margin: 0px;
	padding: 0px;
}

#allmenubtn:hover{
	cursor: pointer;
	background-color: rgba(255,255,255,0.2);
}


