@charset "utf-8";
.clear {
	clear: both; 
	width:100%; 
}
/* homePage.jsp */
#mainslide{
	position: relative;	
	margin: 0; 
}
#slideimge{
	height:446px;
	width:1500px;
	position:absolute;
	z-index: 1;
/* 	background-image: url("../img/homeimg/imgback.jpg"); 이전 이미지*/
	background-image: url("https://i.pinimg.com/564x/c8/66/46/c86646eed6013137a53961c88f2e871e.jpg"); 
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#btn{
	width:1500px; height:446px;
	position:absolute;
	z-index: 2;
	top:50%;
}

#leftbtn, #rightbtn {
	background-color: rgba(0, 0, 0, 0.4);
	text-align: center;
	height: 100%;
	width: 10%;
} 

#leftbtn {
	float:left;
}

#rightbtn {
	float:right;
}

#MoveLeftBtn, #MoverightBtn {
	font-size: 50px;
	border:0;
	background-color: rgba(200,200,200,0.6);
	border-radius:100%;
	color:white;
	width:80px;
	height:80px;
	margin-top:160px; 
	cursor: pointer;
}
#slideimge .imgeul{
	width: 100%; height: 100%;
	
}

.imgeli img{
	width: 100%; height: 100%;
	display:inline-block;
}


/* 슬라이드 밑에 부분 */
/* 명언부분 */
#wiseSaying{
	background-color: rgba(91,77,48,0.7);
	width: 100%;
	height: 24px;
	padding: 2px;
	margin-bottom: 2px;
}

#wiseSaying a{
	color: white;
	cursor: pointer;
}

/* 추천도서 */
#cus button{
	background-color: transparent !important;
	border:none;
	font-weight: bold;
	font-size: 150%;
	cursor: pointer;
}

#cus{
	padding-left:100px;
}

#content{
	width:1500px; 
	height:500px;
	margin:446px 0 0 0;
	background-color:rgba(255,255,255,0.7);
	position:relative;
}
#contentA{
	width:900px;
	height:350px;
	padding-top:85px;
	margin:0 auto;
	float:left;
	padding-left:20px;
	position:absolute;
}
#cus button,#cus{
	margin:4px 0;
	font-size:18px;
}

#contentA li{
	display: inline-block;
}
#fooleftbtn, #foorightbtn{
	width:30px;
	height:60px;
	border:none;
	border-radius:10%;
	background:#666;
	color:white;
}
#fooleftbtn{
	position:absolute;
	margin-top:100px;
	margin-left:30px;
}
#foorightbtn{
	position:absolute;
	margin-top:-160px;
	margin-left:825px;
}
#contentA ul{
	width:800px;
	height:256px;
	text-align:center;
	overflow: hidden;
}
#contentA h2{
	margin-top:10px;
}
#contentA img{
	width:160px;
	height:216px;
	margin:0 10px;
}
.contentAtbl{
	border: 1px solid lime;	
}

/* 공지사항  */
#contentB{  
	width:478px;
	height:350px;
	position:absolute; 
	margin-left:1022;
	margin-top:85px;
}

#contentBtbl{
	text-align: left;
	float: left;
	width: 100%;
	height:80%; 
}

#contentBtr td{
	border-bottom: 1px gray solid;
}

#goNew{
	color:gray;  
}
 
#newBook{
	display: none;
}

/* 아이콘 */
#iconContent{
	border-top:2px solid #333;
	border-bottom:2px solid #333;
	background: #dde;
	width:1500px;
	height:285px;
	}
#iconContainer{
	margin-left: 10%;
}

#iconContainer .iconMenu{
	display:inline-block;
	margin:0 40px;
	margin-top:60px;
	text-align:center;
}

#iconContainer .iconMenu img{
	width:150px;
	height:150px;	
}

#iconContainer .iconMenu a{
	font-size:20px;
	color:#224;
	font-weight:bold;
}

#iconContainer .iconBox{
	border-radius:100%;
	overflow:hidden;
	width:150px;
	height:150px; 
	border:solid 2px lightgray;
	margin-bottom:20px;
}
