* {	/* 기본값 */
	margin: 0 auto;
	padding: 0px;
	list-style-type: none;
	text-decoration: none;
	color: #000;
}

body {
	background-image: url("../img/back1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center -500px;
	width: 90%;
}

.clear {
	clear: both;
}
/* 상단 logo부분 */
#logoBox {
	width: auto;
	height: 190px;
	display: inline-block;
	float: left;
	font-family: Jeju Hallasan;
	font-size: 62px;
	margin-top: 30px;	
	border: solid 1px blue;
}

#logof{
	color:black;
	cursor: pointer;
}	

#logof1 {
	color: brown;
}

#logof2 {
	color: green;
}

#logof3 {
	color: orange;
}

#logof4 {
	color: brown;
}

/* 검색창 */
#searchBox {
	width: 1100px;
	display: inline-block;
	text-align: center;
	margin-top: 83px;
	padding: 5px;
	background-color: #ddc49d;
	border-radius: 10px;
	margin-left: 50px;	
}

 #searchBox #selection {
	margin-right:30px;
	font-size: 20px;
	border-radius:20px;
	background-color: rgba(255,255,255,0.7);
	height: 50px;
	margin-top: 5px;
	padding: auto 10px;
	border: 0;
}

#searchBox input {
	padding: 5px;
	font-size: 20px;
	width: 800px;
	background-color: rgba(255,255,255,0.4);
	height:50px;
}

#searchBox button {
	font-size: 20px;
	background-color: rgba(255,255,255,0.5);
	border-radius:100%;
	border: 0;
	font-weight: bold;
	width:55px; 
	height:55px;
 	cursor: pointer;
 	margin-left:30px;
 	padding:3px;
}

/* 로그인/회원가입 */
#login {
	float: right;
	margin-right: 100px;
	margin-top: 30px;
	font-size: 115%;
	font-weight: bold;
	font-family: fantasy;
}

#login a button {
	font-size: 90%;
	font-weight: bold;
}

.loge {
	border: 0px;
	outline: 0px;
	cursor: pointer;
	background-color: transparent !important;
}

.loge:hover{
	color: #a92940;
}

/* menu부분 */
#bodyHead {	
	height:	200px;
	width: 1200px;
} 

#menuBox {
	color: white;
	text-align: center;
	height: 40px;
	z-index: 10;
}

#menuBox .mainMenu {
	float: left;
	background-color: #442200;
	display: inline-block;
	height: 40px;
	width: 200px;
	padding-top: 15px;
}

#menuBox .mainMenu a {
	color: white;
	font-size: 18px;
	margin: 5px 20px;
}

#menuBox .mainMenu:hover {
	background-color: #886644;
}

#menuBox .subMenu {
	display: none;
	background-color: #edb;
	padding: 15px 0px;
	width: 200px;
}

#menuBox .subMenu a {
	color: black;
}

.subMenu:first-child {
	margin-top: 15px;
}

#menuBox .mainMenu:hover .subMenu {
	display: block;
}

#menuBox .subMenu:hover {
	background-color: #ffe;
}


