* {
	margin: 0 auto;
	padding: 0px;
	list-style-type: none;
	text-decoration: none;
	color: #000;
}

body {
	background-image: url("../img/back1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center -500px;
	width: auto;
}

#total {
	width: 90%;
}

.clear {
	clear: both;
}

header {
	margin-bottom: 30px;
}

#logoBox {
	width: auto;
	height: 200px;
	display: inline-block;
	float: left;
	/* background-image:url("../img/logo2.png");
	background-repeat: no-repeat;
	background-size: cover; */
	font-family: Jeju Hallasan;
	font-size: 65px;
	margin-top: 20px;
}

#logof1 {
	color: brown;
}

#logof2 {
	color: green;
}

#logof3 {
	color: orange;
}

#logof4 {
	color: brown;
}

#searchBox {
	width: 700px;
	display: inline-block;
	margin-left: 200px;
	text-align: center;
	margin-top: 70px;
	padding: 5px;
	background-color: #ddc49d;
	border-radius: 5px;
}

#searchBox #selection {
	padding: 5px;
	font-size: 15px;
}

#searchBox input {
	padding: 5px;
	font-size: 15px;
	width: 500px;
}

#searchBox button {
	padding: 5px;
	font-size: 15px;
}

#login {
	float: right;
	margin-right: 50px;
	margin-top: 10px;
	font-size: 150%;
}

#login a button {
	font-size: 100%;
}

#bodyHead {
	height: 400px;
	width: 1200px;
}

#menuBox {
	color: white;
	text-align: center;
	height: 40px;
	position: relative;
	z-index: 10;
}

#menuBox .mainMenu {
	float: left;
	background-color: #442200;
	display: inline-block;
	height: 40px;
	width: 200px;
	padding-top: 15px;
}

#menuBox .mainMenu a {
	color: white;
	font-size: 18px;
	margin: 5px 20px;
}

#menuBox .mainMenu:hover {
	background-color: #886644;
}

#menuBox .subMenu {
	display: none;
	background-color: #edb;
	padding: 15px 0px;
	width: 200px;
}

#menuBox .subMenu a {
	color: black;
}

.subMenu:first-child {
	margin-top: 15px;
}

#menuBox .mainMenu:hover .subMenu {
	display: block;
}

#menuBox .subMenu:hover {
	background-color: #ffe;
} /* 
#AdWin{
	position:relative;
	z-index:8;
} */
/* .AdImg:first-child, .AdImg:last-child{
	display: inline-block;
	width:300px;
	height:345px;
	text-align:center;
	line-height:345px;
	background-color:black;
	opacity:0.5;
} */
/* .AdImg:nth-child(2){
	display: inline-block;
	text-align:center;
	line-height:345px;
	width:596px; 
	height:345px;
	border:1px solid green;
	margin:0px -5px;
	
}   */
/* .AdImg{
	width:100%;
	height:100%;
	border: 0px;
	outline:0px;
	cursor:pointer;
	background-color: transparent !important;
}  */
.loge {
	border: 0px;
	outline: 0px;
	cursor: pointer;
	background-color: transparent !important;
}

#leftbtn, #rightbtn {
	background-color: rgba(0, 0, 0, 0.4);
	text-align: center;
	z-index: 8;
	cursor: pointer;
	height: 92%;
	margin-top:30px;
	margin-bottom:-30px;
}

#leftbtn {
	float: left;
}

#rightbtn {
	float: rigth;
}

/* #Adwin {
	position: relative;
	z-index: 7;
	height: 400px;
	width: 1200px;
} */
#centerimge {
	float: left;
	background-image: url("../img/bookgmm.jpg");
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	margin-top: -30px;
	background-size: cover;
	background-position: center center;
	
}

#MoveLeftBtn, #MoverightBtn {
	font-size: 50px;
	text-align: center;
}