@charset "utf-8";
* {	/* 기본값 */
	margin: 0 auto;
	padding: 0px;
	list-style-type: none;
	text-decoration: none;
	color: #000;
	box-sizing: border-box;
}

body {
	width: 1720px;
	margin:0 auto;
}

.clear {
	clear: both; 
}

/* homePage.jsp */
#mainslide{
	position: relative;	
	margin: 0 auto;
	left:15.1%; 
}
#slideimge{
	height:400px;
	width:1200px;
	position:absolute;
	z-index: 1;
}
#btn{
	width:1200px; height:400px;
	position:absolute;
	z-index: 2;
	top:50%;
}

#leftbtn, #rightbtn {
	background-color: rgba(0, 0, 0, 0.4);
	text-align: center;
	height: 100%;
	width: 10%;
} 

#leftbtn {
	float:left;
}

#rightbtn {
	float:right;
}

#MoveLeftBtn, #MoverightBtn {
	font-size: 50px;
	border:0;
	background-color: rgba(200,200,200,0.6);
	border-radius:100%;
	color:white;
	width:80px;
	height:80px;
	margin-top:160px; 
	cursor: pointer;
}
#slideimge .imgeul{
	width: 1200px; height: 400px;
	overflow:hidden;
}

.imgeli img{
	width: 100%; height: 100%;
}


/* 슬라이드 밑에 부분 */
/* 추천도서 */
#content{
	width:1200px; 
	margin:400px 0 0 15.1%;
	background:white;
}
#contentA{
	width:700px;
	height:350px;
	padding-top:20px;
	border:solid 1px red;
	margin:0 auto;
	float:left;
	padding-left:20px;
}
#cus{
	margin:10px 0;
}
#contentA div{ 
 	display: inline-block;
	text-align: center;
}
#contentA .foobtn{
	background-color:red;
	line-height:100px;
	position: relative;
}
#contentA button{
	width:30px; 
	height:60px; 
	font-size:25px;
	top:10%;
} 

#contentA img{
	width:130px;
	height:160px;
	border:solid 1px red;
	margin:0 10px;
}
#contentB{
	width:500px;
	height:350px;
	border:solid 1px blue;
	float:right;
}

.contentAtbl{
	border: 1px solid red;	
}

/* footer부분 */
/* 하단 logo부분 */
