
* {
	margin: 0px auto;
	padding: 0px auto;
	font-size: 17px;
}

html, body {
	height: 100%;
}

#container {
	text-align: center;
	background-color: skyblue;
	height: 120%;
	background-image:
		url("https://watermark.lovepik.com/photo/50050/9906.jpg_wh1200.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	padding: 10% 0;
}

h1 {
	font-size: 250%;
}

#back {
	background-color: rgba(255, 255, 255, 0.5);
	width: 80%;
	height: auto;
	padding:50px;
}

#loginbtn {
	color: white;
	background-color: lightslategray;
	border-radius: 7px;
	width: 20%;
	height: 8%;
	margin: 10px 20px 5px 20px;
	border: 0px;
	font-size: 120%;
}

#forgot {
	/*   color:royalblue; */
	color: navy;
}

#logo {
	padding-top: 5%;
	color: white;
	text-shadow: 3px 3px 3px gray;
	font-family:'cursive';
}

input {
	border: 0px;
	border-bottom: solid 1px darkblue;
	background-color: transparent;
	width: 21%;
	margin: 10px;
	padding: 10px;
	color: white;
}

a {
	font-size: 70%;
	text-decoration: none;
}

#foo {
	font-size: 60%;
	color: white;
	margin-top: 2%;
}

#signup {
	background-color: transparent;
	border: 0px;
	/*   color:royalblue; */
	color: navy;
	font-size: 70%;
	cursor: pointer;
}

#zz {
	color: navy;
	font-size: 70%;
}

#userjoin {
	border-top: dotted 1px white;
}

#log{
	font-family:sans-serif,serif;
	color: navy;
	font-size: 150%;
	text-shadow:gray 3px 3px 3px;
	font-weight: bold;
}

#logo{
	margin-top:-100px;
}