@charset "utf-8";

#mypageBack{
	background-color: rgba(245,245,245,0.9);
	width: 1500px;
	height: 900px;
	margin-bottom: 100px;
	padding-top: 50px;
	margin-top: -20px;
	padding-left: 50px;
}

h1{
	font-family: sans-serif;
	margin:30px;
	margin-top: 50px;
}

table{
	border: none;
}

#mypagetbl{
	font-size: 22px;
	padding: 20px;
	margin:10px;
	border-collapse: separate;
	border-spacing: 50px;
	font-weight: bold;
}

#mypagetbl input{
	border: none;
	font-size: 22px;
}

#mypageBack button{
	outline: 0px;
	cursor: pointer;
	background-color: transparent !important;
	background-color: rgba(0,0,0,0.4);
	width: 100px;
	height: 100px;
	font-size: 30px;
	font-weight: bold;
}