@charset "UTF-8";

* {
	padding: 0 auto;
	margin: 0 auto;
	text-decoration: none;
	list-style-type: none;
	font-size: 14px;
	font-family: Malgun Gothic;
	font-size: 14px;
	text-align: left;
}

#sub-area {
	width: 939px;
	padding-top: 25px;
	padding-bottom: 100px;
	min-height: 500px;
	padding-top: 25px;
}

img {
	border: 0 none;
	vertical-align: middle;
}

a {
	text-decoration: none;
	color: #444;
}

/* gray-box */
.gray-box {
	border: 1px solid #ddd;
	padding: 29px 33px;
	background: #f7f9fa;
}

.ui-1201-bg {
	min-height: 102px;
}

.ui-1201-bg h3 {
	font-size: 20px;
	margin-bottom: 10px;
	width: 80%;
}

.width80s {
	width: 80% !important;
}

.ul-txt>li {
	padding-left: 8px;
	margin-bottom: 5px;
	line-height: 20px;
}
/* h3-title */
.h3-title {
    font-size: 15px;
    min-height: 21px;
    margin-top: 32px;
    padding-left: 26px;
}

.ul-txt-style2 > li {
    padding-left: 9px;
    margin-top: 10px;
    margin-left: 21px;
    text-align: left;
    line-height: 20px;
}

/* ui1201-link */
.ui1201-link {
    margin: 20px;
}.ui1201-link a {
    color: #2866b3;
    line-height: 20px;
    text-decoration: underline;
}