@charset "UTF-8";
*{margin:0 auto;}
#tags{
	width:100%;
	text-align:center;
}

.contentDiv{
	width:80%;
	border:1px solid red; 
}

#content .title{
	font-size:35px;
	font-weight:bold;
}

.details{
	padding: 40px 20px;
	font-size:18px;
}