@charset "UTF-8";
*{margin:0 auto;}
#tags{
	width:100%;
	text-align:center;
}

.contentDiv{
	width:80%;
	border-bottom: 1px solid #b8aa94;
}

#content .title{
	font-size:35px;
	font-weight:bold;
}

.details{
	padding: 40px 20px;
	font-size:18px;
}

#seach img{
	text-align: left;
	border: 1px blue solid;
	width: 100%;
}

.details .ex{
	color:#9797ff;
}

.details{
	line-height: 150%;
}

.details .ranking{
	font-weight: bold;
	color: darkred;
}

.details .texta{
	color: blue;
}

.details .textb{
	color: red;
}

.capchurimg{
	border: 1px solid blue
    width: 800px;
    height: 300px;
    overflow: hidden;
    border:1px solid #F00;
    border-radius: 20%;
}

.capchurimg img:nth-child(1){
	padding-left:50px;
	padding-top:50px;
}
.capchurimg img:nth-child(2){
		
}
.capchurimg img:nth-child(3){
		padding-left:50px;
}

