@charset "UTF-8";

* {
	margin: 0 auto;
}

#tags {
	width: 100%;
	text-align: center;
	font-size: 150%;
}

.abtn {
	color: #44884f;
	margin-right: 20px;
}

.abtn:hover {
	color: #485ed5;
	text-decoration: underline;
}

.contentDiv {
	width: 80%;
	border-bottom: 1px solid #b8aa94;
	margin: 30px auto;
}

#content .title {
	font-size: 35px;
	font-weight: bold;
}

.details {
	padding: 40px 20px;
	font-size: 18px;
}

#seach img {
	text-align: left;
	/* width: 662px; */
}

.details .ex {
	color: #9797ff;
}

.details {
	line-height: 150%;
}

.details .ranking {
	font-weight: bold;
	color: darkred;
}

.details .texta {
	color: blue;
}

.details .textb {
	color: red;
}

.capchurimg {
	width: 600px;
	height: 300px;
	overflow: hidden;
	margin-left: 70px;
	margin-top: -25px;
}

.capimg2 {
	border-radius: 100px;
	border: 1px lime solid;
	overflow: hidden;
	width: 100%;
	height: 50px;
}

.capchurimg .capimg2:nth-child(1)>img {
	margin-left: -58px;
	margin-top: -47px;
	width: 662px;
}

.capchurimg .capimg2:nth-child(3)>img {
	margin-left: -3px;
	margin-top: -4px;
	width: 602px;
}

.capchurimg .capimg2:nth-child(5)>img {
	margin-left: 0;
	margin-top: -20px;
	width: 602px;
}

.lastdiv {
	padding-bottom: 30px;
}