@charset "utf-8";

*{
	padding:0;
	margin:0;
	text-decoration: none;
	color:#000;
}

/* 지도 */

#mapinfotext #mapinfotexta{
	color:#f00000;
	font-weight: bold;
	font-size: 150%;
}

#mapinfotext{
	display: inline-block;
}

#mapinfotext #mapinfotextb{
	color:#2b00bd;
	font-size: 120%;
}

#mapinfo{
	width: 1200px;
	height: auto;
}

#menu4-3back {
	width: 100%;
	height: 100%;
	background-color: #f5f5f5;
}

#map {
	width: 1200px;
	height: 600px;
	background-color: white;
	border: 1px solid #b8b8b8;
}

#menu4-3back h2 {
	text-align: left;
	width: 1200px;
	padding-top: 50px;
	padding-bottom: 20px;
	font-family: "굴림", "맑은 고딕";
	font-weight: normal;
	color: darkred;
}

.wrap {
	position: absolute;
	left: 0;
	bottom: 40px;
	width: 288px;
	height: 132px;
	margin-left: -144px;
	text-align: left;
	overflow: hidden;
	font-size: 12px;
	font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
	line-height: 1.5;
}

.wrap * {
	padding: 0;
	margin: 0;
}

.wrap .info {
	width: 286px;
	height: 120px;
	border-radius: 5px;
	border-bottom: 2px solid #ccc;
	border-right: 1px solid #ccc;
	overflow: hidden;
	background: #fff;
}

.wrap .info:nth-child(1) {
	border: 0;
	box-shadow: 0px 1px 2px #888;
}

.info .title {
	padding: 5px 0 0 10px;
	height: 30px;
	background: #ccb4a4;
	border-bottom: 1px solid #88644d;
	font-size: 18px;
	font-weight: bold;
	color: #333;
}

.info .close {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #888;
	width: 17px;
	height: 17px;
	background:
		url('http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');
}

.info .close:hover {
	cursor: pointer;
}

.info .body {
	position: relative;
	overflow: hidden;
}

.info .desc {
	position: relative;
	margin: 13px 0 0 90px;
	height: 75px;
}

/* 지도 밑에 버튼 3개 */
.desc {
    width: 1200px;
    height: 30px;
}

.desc .btns {
    float: right;
}

.desc .btns button.big_map {
    width: 82px;
    background-position: 10px -35px;
    padding-left: 28px;
    border-left: #b8b8b8 1px solid;
}

.desc .btns button.route {
    width: 69px;
    background-position: 10px -79px;
}

.desc .btns button {
    display: block;
    float: left;
    height: 30px;
    padding: 0 0 2px 26px;
    text-align: left;
    letter-spacing: -1px;
    font-size: 12px;
    color: #313131;
    border: 1px solid #b8b8b8;
    border-width: 0 1px 1px 0;
    background: url(//www.saraminimage.co.kr/ui/mapapi/ico_map_btn.png) no-repeat 10px 0;
    box-sizing: border-box;
}

.desc button {
    border: 0;
    background: transparent;
    cursor: pointer;
}

.desc .ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.desc .jibun {
	font-size: 11px;
	color: #888;
	margin-top: -2px;
}

.info .img {
	position: absolute;
	top: 6px;
	left: 5px;
	width: 73px;
	height: 71px;
	border: 1px solid #ddd;
	color: #888;
	overflow: hidden;
}

.info:after {
	content: '';
	position: absolute;
	margin-left: -12px;
	left: 50%;
	bottom: 0;
	width: 22px;
	height: 12px;
	background:
		url('http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
}

.info .link {
	color: #5085BB;
}

/* 정보 */
#mapinfo .station_ride {
	border-top: 1px solid #f2f2f2;
}

#mapinfo div {
	display: block;
}

#mapinfo button,#mapinfo input,#mapinfo select,#mapinfo td,#mapinfo textarea,#mapinfo th {
    font-size: 14px;
    line-height: 1.5;
    font-family: "\B9D1\C740 \ACE0\B515",Malgun Gothic,sans-serif;
    color: #000;
    letter-spacing: -1px;
}

#mapinfo h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.screen_out {
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px;
}

#mapinfo .tit_wayout {
	height:50px;
	border:1px red solid; 

    overflow: hidden;
    float: left;
    width: 290px;
    padding-top: 6px;
    font-weight: 400;
    font-size: 14px;
}
#mapinfo .txt_number {
    float: left;
    padding-left: 4px;
    font-family: Arial,sans-serif;
    font-size: 14px;
    color: #666;
    letter-spacing: 0;
    vertical-align: top;
}

#mapinfo .link_wayout {
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    color: #000;
    text-decoration: none;
    vertical-align: top;
}

#mapinfo strong,#mapinfo b {
    font-weight: bold;
}

#mapinfo a {
    color: #000;
    text-decoration: none;
}

#mapinfo a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
#mapinfo .ride_wayout{
	
	height: 50px;
	border: 1px solid blue;
}

#mapinfo .ride_wayout .list_ride {
    padding: 0 0 9px 275px;
}

#mapinfo ul,#mapinfo menu,#mapinfo dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

#mapinfo .list_ride li {
    overflow: hidden;
    position: relative;
    padding-top: 8px;
}
#mapinfo li {
    display: list-item;
    text-align: -webkit-match-parent;
}

#mapinfo .bus_blue {
    background-position: 0 -410px;
}

#mapinfo .bus_blue,#mapinfo  .bus_circle {
    width: 26px;
    height: 16px;
}

#mapinfo address,#mapinfo caption,#mapinfo cite,#mapinfo code,#mapinfo dfn,#mapinfo em,#mapinfo var {
    font-style: normal;
    font-weight: 400;
}

#mapinfo .list_ride .bus_ride {
    overflow: hidden;
    position: relative;
}
#mapinfo .check_list .list_ride .num_ride {
    height: 16px;
}
#mapinfo .list_ride .num_ride {
    ove overflow: hidden;idden;
    float: left;
    width: 310px;
    height: auto;
    font-family: Arial,sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #666;
    letter-spacing: 0;
}

#mapinfo #kakaoContent .hide {
    display: none;
}
#mapinfo .list_ride .btn_more {
    position: absolute;
    top: -5px;
    right: 3px;
    width: 26px;
    height: 26px;
}
#mapinfo .hide {
    display: none;
}
#mapinfo .num_ride .bg_bar {
    margin: 3px 4px 0;
}
#mapinfo .station_ride .bg_bar {
    margin: 6px 2px 0;
    background: #ddd;
}
#mapinfo .bg_bar {
    display: inline-block;
    width: 1px;
    height: 10px;
    background: #e5e5e5;
    vertical-align: top;
    text-indent: -9999px;
}
#mapinfo #kakaoContent .hide {
    display: none;
}
#mapinfo .map_layer {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 999;
    width: auto;
    margin-top: -350px;
}
#mapinfo #kakaoWrap {
    position: relative;
    background: #f3f3f3;
}

/* 지하철역 부분 */

#mapinfo .station_wayout {
    border-top: 1px solid #f2f2f2;
    padding-bottom: 13px;
}

#mapinfo .station_ride .tit_findway {
    padding-bottom: 1px;
}

#mapinfo .tit_findway {
    padding: 13px 0 3px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5)S not all, only screen and (min-resolution: 1.5dppx)
.ico_traffic {
    background-image: url(//t1.daumcdn.net/localimg/localimages/07/2018/pc/rtn/ico_traffic_180531%402x.png);
    -webkit-background-size: 420px 452px;
    background-size: 420px 452px;
}

#mapinfo .list_wayout .ico_traffic {
    float: left;
    margin: 5px 4px 0 0;
}


#mapinfo .list_ride .ico_traffic {
    float: left;
    margin-right: 6px;
}

#mapinfo .ico_traffic {
    display: inline-block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    background: url("//t1.daumcdn.net/localimg/localimages/07/2018/pc/ico_traffic_180531.png") no-repeat;
    line-height: 999px;
    vertical-align: top;
}

#mapinfo .bus_blue,#mapinfo  .bus_circle{
	width: 26px;
    height: 16px;
}

#mapinfo .bus_blue {
    background-position: 0 -410px;
}

#mapinfo .seoul_line1_small {
    height: 14px;
    width:14px;
    background-position: 0 0;
}

#mapinfo .seoul_line7_small {
    height: 14px;
    width:14px;
    background-position: -120px 0;
}

#mapinfo .list_wayout {
    overflow: hidden;
}

#mapinfo .list_wayout li {
    float: left;
    height: 24px;
    padding: 3px 24px 0 0;
}

#mapinfo .list_wayout .txt_station {
    float: left;
    margin-right: 6px;
}

#mapinfo .list_wayout .txt_station a{
	color:#000;
	text-decoration: none;
}
#mapinfo .list_wayout .txt_station a:hover{
	color:#999;
	text-decoration:underline;
}

#mapinfo .list_wayout .bg_bar {
    float: left;
    margin: 6px 6px 0 4px;
    background: #ddd;
}
#mapinfo .list_wayout .txt_wayout {
    float: left;
    color: #666;
}
#mapinfo .list_wayout .num_wayout {
    font-family: Arial,sans-serif;
    font-size: 14px;
}
#mapinfo .list_wayout .txt_walk {
    color: #fa5309;
}