@charset "UTF-8";

#body{
	width:80%;
	border:2px solid #252621;
	font-size:22px;
	padding:20px;
}
.box{
	width:96%;
	border:none;
	margin-top:20px;
	padding:20px;
	line-height:50%;
}
.text{
	margin-right:100px;
	color: #252621;
	font-weight:bold;
}
.box input{
	width:86.5%;
	font-size:22px;
	padding:15px 5px;
	border:none;
	border-bottom:1px solid #735b69;
	color: #313131;
}

.box textarea{
	margin-top:20px;
	width:100%;
	font-size:20px;
	height:400px;
	padding:15px;
	border:none;
	resize:none;
	color: #353535;
	border-top: 2.5px solid #b0b0b0;
}
#sendQ{
	text-align:center;
	font-size:25px;
	width:100%;
	height:60px;
	background: #002c2f;
	color:white;
}
#sendQ:hover{
	cursor: pointer;
	background: #40686a;
}