@charset "UTF-8";
#addQ{
	font-size:25px;
	margin-left:79%;
	color:#050c54;
	font-weight:bolder;
	border:none;
	border-radius: 10px;
	background-color:rgba(0,0,0,0);
	padding:7px 21px;
}
#addQ:hover{
	color:#888;
	cursor: pointer;
}

.category{
	font-size: 120%;
}

#notices{
	width:75%;
	border:1px solid #333;
	border-collapse: collapse;
	background: #e2e2e4;
	margin-top:10px;
}
#notices td,th{
	border:1px solid #1c004f;
}
#notices thead tr{
	height:60px;
	background: rgb(0,52,88); 
}
#notices thead tr th{
	color: white;
}
#notices tbody tr:nth-child(2){
	height:40px;
}
.positionTopic{
	height:50px;
}
.detail{
	display: none;
}
.detail textarea{
	width:100%;
	height:200px;
	resize:none;
	background: white;
	padding:20px 30px;
	font-size:15px;
	overflow:auto;
}
.contentD textarea{
	height:200px;
}             
.reply textarea{
	width:100%;
	height:100px;
}
.goBtn button{
	width: 100%; 
	height: 50px;
	border: none;
	background: rgb(55,88,123);
	color: #fefefb;
}
.goBtn button:hover{
	background: rgb(75,108,143);
	cursor: pointer;
}
.summary:hover{
	cursor: pointer;
}