@charset "UTF-8";
#notices{
	width:75%;
	border:1px solid #333;
	border-collapse: collapse;
	background: #e2e2e4;
}
#notices td,th{
	border:1px solid #1c004f;
}
#notices thead tr{
	height:60px;
	background: #002c2f; 
}
#notices thead tr th{
	color: white;
}
#notices tbody tr:nth-child(2){
	height:40px;
}
.positionTopic{
	height:50px;
}
.detail textarea{
	width:100%;
	height:200px;
	resize:none;
	background: white;
	padding:20px 30px;
	font-size:18px;
	overflow:auto;
}
.contentD textarea{
	height:450px;
	background:#f7f4f7;
	
}
.reply{
	text-align:left;
}
.reply textarea{
	width:100%;
	height:200px;
	margin-left:0px;
	font-size:22px;
}     
#insertBtn{
	width: 100%; 
	height: 50px;
	border: none;
	background: #40686a;
	color: #fefefb;
	float:left;
}
#insertBtn:hover{
	background: #50787a; 
	cursor: pointer;
}