@charset "UTF-8";
#noticeKind{    
	margin: 100px 1530px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid black;
    width: 150;
    position: fixed;
}
#noticeKind li{
    width: 150px;
    height: 47px;
    background: #31242f;
    list-style-type: none;
    display: inline-block;
    margin-right: -5px;
    text-align: center;
    line-height: 47px;
}
#noticeKind li a{
	color: white;
}

#notices{
	width:73%;
	border-collapse: collapse;
	margin-left:200px;
}


#notices td, th{
	border:1px solid black;
	color:white;
}
.notice tr{
	height:26px;
}
.member, .summary{
	color: black;
}

#notices table{
	width:100%;
	text-align:center;
	border-collapse: collapse;
}

.category tr{
    font-size: 18px;
    height: 45px;
    background: #3d2e2d;
}

#contentsD{  
	resize: none;
	width:80%;
}

#answers{
	position:relative;
	height:400px;
	overflow:auto;
}
#answerList{
	height:400px;
	position:absolute; 
	bottom:0;
	padding:20px;
}
#answerList div{
	margin-top:10px;
	width:80%;
}
#answerList .credat{
	float:right;
}
#answerList div textarea{
	width:100%;
	height:80px;
	margin-top:10px;
	font-size:18px;
	margin-top:15px;
	resize:none;
	margin-bottom:25px;
	background: white;
	padding:12px;
}
.replier{
	font-size:20px;
	font-weight:900;
	margin-bottom:10px;
}
#contentsR{
	font-size:18px;
	width:100%;
	resize:none;
	padding:18px;
	line-height:26px;
	height:110px;
}
.contentsD textarea{
	font-size:18px;
	width:100%;
	height:300px;
	resize:none;
	padding:20px;
	background: #fafafa;
	border:none;
	border-top:1px solid #eee;
}
#answerList{
	width:100%;
}
#reply{
	text-align: center;
}
#sendRbtn{
	width:98%;
	height:40px;
	background: #3d2e2d;
	color:white;	
	margin-top:10px;
	margin-bottom:10px;
	border-radius: 8px;
	line-height:40px;
	font-size:20px;
}

