@charset "UTF-8";
#noticeKind{    
	margin: 0px 1530px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid black;
    width: 150;
    position: fixed;
}
#noticeKind li{
    width: 150px;
    height: 47px;
    background: #31242f;
    list-style-type: none;
    display: inline-block;
    margin-right: -5px;
    text-align: center;
    line-height: 47px;
}
#noticeKind li a{
	color: white;
}
#notices{
    width: 73%;
    border-collapse: collapse;
}
#notices tr td,th{
	border-bottom:1px solid #222;
}
.noticeOne th{
	height:40px;
}
.noticeOne:nth-child(2n-1) th{          
	background: #eae3df;
}
.noticeOne:nth-child(2n) th{          
	background: #eaeaf2;
}
.category tr{    
	height: 40px;
    background: #3d2e2d;
}
.category tr th,td{
	color:white;
}
.positionTopic{
	height:30px;
}
.positionTopic:hover{
	cursor: pointer;
}
.notice tr{
	height:30px;
}
.contentsD textarea{
	width:100%;
	height:220px;
	resize:none;
	background: none;
	padding:15px 20px;
}
.answerList{
	height:330px;
	overflow:auto;
}
.answerList li{
	width:90%;
	padding:9px 20px;
}
.answerList .contentsR{
	font-size:15px;
	margin-top:15px;
	width:100%;
	height:80px;
	resize:none;
    background: white; 
}
.answerList .credat{
	float:right;
}
.goReply{   
	width:98%;
	height:40px;
	background: #3d2e2d;
	color:white;	
	margin-top:10px;
	margin-bottom:10px;
	border-radius: 8px;
	text-align: center;
	line-height:40px;
}
.goReply:hover{   
    background: #5d4e4d;
    cursor:pointer;
}
.goReply a{
    font-size:18px;
	font-weight:bold;
	color:white;
}
.detail{
	border:0.1px solid black;
}
.detail textarea{
    font-size:18px;
}