@charset "UTF-8";

#noticeKind{    
	margin: 100px 1530px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid black;
    width: 150;
    position: fixed;
    background: #31242f;
}

#noticeKind li{
    width: 150px;
    height: 47px;
    list-style-type: none;
    display: inline-block;
    margin-right: -5px;
    text-align: center;
    line-height: 47px;
}
#noticeKind>li:hover{        
	background: rgba(255,255,255,0.1);
	cursor: pointer;
}
#noticeKind li a{
	color: white;
}

#notices{
    width: 73%;
    border-collapse: collapse;
    border-radius:13px;
    overflow: hidden;
    border: 1px solid black;
    margin-bottom: 45px;
}


#notices td, th{
	border:1px solid black;
	color:white;
}
.notice tr{
	height:26px;
}
.member, .summary{
	color: black;
}

#notices table{
	width:100%;
	text-align:center;
	border-collapse: collapse;
}

.category tr{    
	height: 60px;
   background-color: #327a81;
   color: white;
   font-size: 1.5em;
   padding: 1rem;
   text-align: center;
   text-transform: uppercase;
}
.category tr th,td{
	color:white;
}
.style-7::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

.style-7::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.style-7::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(157,239,247)),
									   color-stop(0.72, rgb(83,203,223)),
									   color-stop(0.86, rgb(57,139,147)));
}

#contentsD{  
	resize: none;
	width:80%;
}

#answers{
	position:relative;
	height:400px;
	overflow:auto;
}
#answerList{
	height:400px;
	position:absolute; 
	bottom:0;
	padding:20px;
}
#answerList div{
	margin-top:10px;
	width:80%;
}
#answerList .credat{
	float:right;
}
#answerList div textarea{
	width:100%;
	height:80px;
	margin-top:10px;
	font-size:18px;
	margin-top:15px;
	resize:none;
	margin-bottom:25px;
	background: white;
	padding:12px;
}
.replier{
	font-size:20px;
	font-weight:900;
	margin-bottom:10px;
}
#contentsR{
	font-size:18px;
	width:100%;
	resize:none;
	padding:18px;
	line-height:26px;
	height:110px;
}
.contentsD textarea{
	font-size:18px;
	width:100%;
	height:300px;
	resize:none;
	padding:20px;
	background: #fafafa;
	border:none;
	border-top:1px solid #eee;
}
#answerList{
	width:100%;
}
#reply{
	text-align: center;
}
#sendRbtn{
	width:98%;
	height:40px;
	background: #3d2e2d;
	color:white;	
	margin-top:10px;
	margin-bottom:10px;
	border-radius: 8px;
	line-height:40px;
	font-size:20px;
}

