@charset "UTF-8";
#notices{
	width:80%;
	border-collapse: collapse;
}
#notices td, th{
	border:1px solid black;
}
#notices table{
	width:100%;
	text-align:center;
	border-collapse: collapse;
}

.category tr{
    font-size: 18px;
    height: 45px;
    background: #3d2e2d;
}

#contentsD{  
	resize: none;
	width:80%;
}

#answers{
	position:relative;
	height:400px;
	overflow:auto;
}
#answerList{
	height:400px;
	position:absolute; 
	bottom:0;
}
#answerList div{
	margin-top:10px;
	border:1px solid red; 
	width:600px;
}
.replier{
	font-size:14px;
	font-weight:900;
}
.contentsD textarea{
	margin-top:10px;
	margin-right:20px;
	font-size:18px;
	width:100%;
	height:300px;
	resize:none;
	padding:20px;
	background: white;
}
#answerList{
	width:100%;
	background: #fafbfb;
}
#contentsR{
	margin-top:10px;
	margin-right:20px;
	font-size:18px;
	width:100%;
	resize:none;
	padding:20px;
	line-height:30px;
	height:110px;
}
#reply{
	text-align: center;
}
#sendRbtn{
	width:98%;
	height:40px;
	background: #3d2e2d;
	color:white;	
	margin-top:10px;
	margin-bottom:10px;
	border-radius: 8px;
	line-height:40px;
}

