@charset "utf-8";


/* 전체 */
#dif0, #dif1, #dif2, #dif3{
	display: none;
}

#total{
	width: 1500px;
	height: 900px;
}

/* 왼쪽 */
#menu{
	float: left;
	width: 20%;
	height: 100%;
	background-color: #e3dbb0;
}

#menuul{
	font-size: 22px;
	margin-left: 30px;
}

.sub{
	margin: 5px;
	margin-bottom: 20px;
}

.sub:hover a{
	color: #7d5c46;
}

#fh{
	font-size: 20px;
	margin-left: 25px;
}

/* 오른쪽 */
.updateBack{
	float: right;
	width: 80%;
	height: 100%;
	background-color: rgb(245,245,245);	
}

h1{
	font-family: sans-serif;
	margin-bottom:20px;
	margin-left:30px;
	margin-top: 50px;
}

#sh{
	font-size: 150%;	
}

table{
	float: left;
	border: none;
}

#updatetbl{
	border-collapse: separate;
	border-spacing: 40px;
	font-size: 20px;
}

#updatetbl input{
	border: none;
	padding: 4px;
	font-size: 20px;
	width: 300px;
	background-color: rgba(255,255,255,0.8);
}

label{
	font-size: 14px;
	color: darkred;
}

#btn{
	margin-left: 20px;
}

#updateBack button{
	outline: 0px;
	cursor: pointer;
	background-color: transparent !important;
	background-color: rgba(0,0,0,0.4);
	width: 100px;
	height: 100px;
	font-size: 30px;
	border-radius: 50px;
	margin-left: 20px;
}

button:hover{
	font-weight: bold;
	color: darkblue;
}

#save:hover{
	color:darkred;
}

/* 오른쪽 이미지 */
#img{
	width: 500px;
	height: 750px;
	margin-right: 100px;
	float: right;
	margin-top: -780px;
	border:3px pink solid;
	border-radius: 20px;
}