<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
	<typeAlias type="com.project.sp.vo.UserVO" alias="user"></typeAlias>
	<typeAlias type="com.project.sp.vo.BookVO" alias="book"></typeAlias>
	<typeAlias type="com.project.sp.vo.TakeVO" alias="take"></typeAlias>
	<typeAlias type="com.project.sp.vo.PostVO" alias="post"></typeAlias>
	<typeAlias type="com.project.sp.vo.BookComentVO" alias="bookComent"></typeAlias>
	<typeAlias type="com.project.sp.vo.PostComentVO" alias="postComent"></typeAlias>
	<typeAlias type="com.project.sp.vo.LikeVO" alias="like"></typeAlias>
	<typeAlias type="com.project.sp.vo.FamousVO" alias="famous"></typeAlias>
	</typeAliases>
</configuration>
